body, html {
    background: #16a085;
}
#wrapper {
    width: 600px;
    margin: 0 auto;
    margin-top: 15%;
}
h1 {
    color: #eee;
    text-shadow: -1px -2px 3px rgba(17, 17, 17, 0.3);
    text-align: center;
    font-family: "Monsterrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80px;
    margin-bottom: -5px;
}
h1 underline {
    border-top: 5px solid rgba(26, 188, 156, 0.3);
    border-bottom: 5px solid rgba(26, 188, 156, 0.3);
}
h3 {
    width: 570px;
    margin-left: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #eee;
}
.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(147, 112, 219,0.4); */
}

.btn{
    background: transparent;
    padding: 0.7rem 1.5rem;
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    margin: 20px 6px;
}
.btn:hover{
    color: white;
    background-color: #228B22;
}